## Functions


## Introduction to Functions

What is a function in Python and how to create a function? 

Functions will be one of our main building blocks when we construct larger and larger amount of code to solve problems.

**So what is a function?**

A function groups a set of statements together to run the statements more than once. It allows us to specify parameters that can serve as inputs to the functions.

Functions allow us to reuse the code instead of writing the code again and again. If you recall strings and lists, remember that len() function is used to find the length of a string. Since checking the length of a sequence is a common task, you would want to write a function that can do this repeatedly at command.

Function is one of the most basic levels of reusing code in Python, and it will also allow us to start thinking of program design.

## def Statements

Now, let us learn how to build a function and what is the syntax in Python.

The syntax for def statements will be in the following form:

In [1]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (doc-string) goes
    '''
    # Do stuff here
    #return desired result

In [2]:
def say_hello(name):
    print('hello', name)
    print('How do you do?')

In [3]:
say_hello('Aarthi')

hello Aarthi
How do you do?

In [34]:
### Write a function to add any 3 numbers:   ###x,y = positional arguments, ##z= keyword argument

def sum(x,y,z=11):
    total = x+y+z
    return total

In [35]:
sum(56,78)

145

In [6]:
sum(5.4, 6.7, 8.9)

21.0

In [7]:
for i in [1,2,3,4]:
    print(i)

1
2
3
4

In [25]:
marks1 = [68,78,98,45,34]
marks2 = [77,67,57,88,76]

total = 0
for i in marks1:
    total=total+i
print("Total marks of 1st student:", total)

total = 0
for i in marks2:
    total=total+i
print("Total marks of 2nd student:", total)

Total marks of 1st student: 323
Total marks of 2nd student: 365

In [26]:
def calculate_total(marks):
    total=0
    for i in marks:
        total=total+i
    return total

In [27]:
sum_of_marks1 = calculate_total(marks1)
print("Total sum:", sum_of_marks1)

Total sum: 323

In [28]:
sum_of_marks2 = calculate_total(marks2)
print("Total sum:", sum_of_marks2)

Total sum: 365

In [29]:
## Absolute value:

def absolute_value(num):
    if num>=0:
        return num
    else:
        return -num

In [31]:
print(absolute_value(-5))

5

### positional and keyword arguments

In [36]:
def hello(name, age=35):
    print("My name is {} and my age is {}".format(name, age))

In [37]:
hello('Aarthi')

My name is Aarthi and my age is 35

In [39]:
hello('Aarthi', 34)

My name is Aarthi and my age is 34

In [40]:
def hello(*args, **kwargs):
    print(args)
    print(kwargs)

In [41]:
hello("Laksh", "Ravi", age=23, dob=1977)

('Laksh', 'Ravi')
{'age': 23, 'dob': 1977}

In [42]:
names=['Laksh', 'Ravi']
dict_args={'age': 23, 'dob': 1977}

In [44]:
hello(names, dict_args)

(['Laksh', 'Ravi'], {'age': 23, 'dob': 1977})
{}

In [56]:
hello(*names, **dict_args)

('Laksh', 'Ravi')
{'age': 23, 'dob': 1977}

In [62]:
## Given a list, write a fn to calculate the sum of all even numbers and all odds numbers

lst=[12,44,56,33,56,7,8,56,22,97,25,6]

def even_odd_sum(lst):
    even_sum = 0
    odd_sum = 0
    
    for i in lst:
        if i%2==0:
            even_sum = even_sum+i
        else:
            odd_sum = odd_sum+i
    return even_sum, odd_sum

even_odd_sum(lst)

(260, 162)

#### Map function

In [64]:
def even_or_odd(num):
    if num%2==0:
        return "Even"
    else:
        return "Odd"

In [65]:
even_or_odd(45)

'Odd'

In [66]:
lst=[12,44,56,33,56,7,8,56,22,97,25,6]

In [69]:
list(map(even_or_odd, lst)) ### map(function, iterable)

['Even',
 'Even',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Even',
 'Even',
 'Odd',
 'Odd',
 'Even']

## lambda function/ anonymous function

In [70]:
def add(a,b):
    sum = a+b
    return sum

In [71]:
add(2,3)

5

In [72]:
sum=lambda a,b:a+b   ###lambda input:operation

In [73]:
sum(10,70)

80

In [74]:
even=lambda n:n%2==0

In [77]:
even(9)

False

In [78]:
### add 2 lists using map and lambda

l1 = [1,2,3]
l2 = [7,8,9]

list(map(lambda x,y:x+y, l1,l2))

[8, 10, 12]

In [80]:
## create 2 function to add (add_num())and multiply 2 numbers

## marks=[70,80,77,86,99]
###write a function to cal the average marks.
###write a function to cal the grade of the students based on avg marks (if,elif,else)

In [81]:
### List comprehension

lst1=[]

def lst_sq(lst):
    for i in lst:
        lst1.append(i*i)
        
    return lst1

In [82]:
lst_sq([2,3,4])

[4, 9, 16]

In [85]:
lst = [2,3,4]
lst1= [i*4 for i in lst]
print(lst1)

[8, 12, 16]

In [88]:
lst2 =[i*i for i in lst if i%2!=0]
print(lst2)

[9]